h1, h3 {
    color: red;
}


.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.3rem; }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(230, 28, 28, 0.671); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(230, 28, 28, 0.271); }
  
  .btn--blue {
    background-color: #ffffff;
    color: #777; }
    .btn--white::after {
      background-color: #ffffff; }
  
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }

.btn--animated {
    animation: moveInBottom .8s ease-out .55s;
    animation-fill-mode: backwards;
}

.btn--animated-8 {
    animation: moveInBottom 1s ease-out .55s;
    animation-fill-mode: backwards;
}

.btn--white {
        background-color: purple;
        color: #777; 
}

.btn--white::after {
    background-color: red; 
}



.marg-top-5re {
    margin-top: 5.5rem;
}

.pad-left-3re{
    padding-left: 3rem;
}

.small-image {
    max-width: 5rem;
    margin-top: 0.7rem;
}

.text-align-center{
    text-align: center;
}

.test {
    color: blue;
}


.xet {
    text-align: center;
    margin-top: 10%;
    width: 40rem;
    margin-left: 14.5rem;
}




@keyframes moveInBottom {
    0% {
      /*start state of animation */
      opacity: 0;
      transform: translateY(10rem); }
    100% {
      /*end state of animation */
      opacity: 1;
      transform: translate(0); } }